[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
pyyaml = "*"
tqdm = "*"
pandas = "*"
pillow = "*"
requests = "*"
scipy = "*"
tensorboard = "*"
ale-py = "*"
wandb = "*"
opencv-python = "*"
gymnasium = {extras = ["classic-control"], version = "*"}
imageio = {extras = ["ffmpeg"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
